<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:id="Postgre">

</div>
<div th:id="Neo4j">

</div>
<!--<div th:each="movie : ${movies}">-->
    <!--<span th:text="${movie.title}"/>-->
<!--<div th:each="anItem : ${movie.getActors()}">-->
    <!--<span th:text="${anItem.firstname}"/>-->
    <!--<span th:text="${anItem.lastname}"/>-->
<!--</div>-->
<!--</div>-->

<!--//<span th:text="${time}"/>-->
<button name="removeRow" type="submit" value="1">Remove row</button>
</body>
</html>